<% layout('../layout') -%>

<h1>Login</h1>
<% if (err) { %>
    <% include ../partials/err -%>
<% } %>

<% if (msg) { %>
    <% include ../partials/msg -%>
<% } %>

<form method='post'>
    <div class='form-group'>
        <label class='control-label res-clabel' for='inputEmail'>Username</label>
        <input class='form-control' id='email' name='email' type='text' />
    </div>

    <div class='form-group'>
        <label class='control-label res-clabel' for='inputPassword'>Password</label>
        <input class='form-control' id='password' name='password' type='password' />
    </div>

    <button class="btn btn-primary btn-login" type="submit" data-loading-text="Loading...">Sign in</button>
</form>

<script type="text/javascript">
    $(function() {
        $(".btn-login").on('click', function() {
            $this = $(this);
            $this.button('loading');
        });
    });
</script>