<% layout('../layout') -%>
<div class='container'>
    <h1>Login</h1>

    <form class='form-horizontal form-signin' method='post'>
        <div class='control-group'>
            <label class='control-label res-clabel' for='inputEmail'>Email</label>
            <div class='controls res-controll'>
                <input id='email' name='email' type='text' />
            </div>
        </div>

        <div class='control-group'>
            <label class='control-label res-clabel' for='inputPassword'>Password</label>
            <div class='controls res-controll'>
                <input id='password' name='password' type='password' />
            </div>
        </div>

        <button class="btn btn-primary res-btn-log" type="submit" data-loading-text="Loading...">Sign in</button>
    </form>
</div>