<!DOCTYPE html>
<html>
  <head>
    <title>chaosups</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.css' />
  </head>
  <body>
    <div class='container'>
      <div class='hero-unit'>
        <h1>CHAOSUPS</h1>
        <p><a href='/login'>login</a></p>
      </div>
      <%- body %>
    </div>
  </body>
</html>
