<!DOCTYPE html>
<html>
    <head>
        <title>chaosups</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' href='/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/css/animate.css' />
        <link rel='stylesheet' href='/css/bootstrap-tagsinput.css' />
        <script type='text/javascript' src='/js/jquery-1.11.2.min.js'></script>
    </head>
    <body>
        <div class='container'>
            <p>&nbsp;</p>
            <%- include partials/nav.ejs %>
            <%- include partials/messages.ejs %>
            <%- body %>
        </div>
        <script type='text/javascript' src='/js/bootstrap.min.js'></script>
        <script type='text/javascript' src='/js/bootstrap-tagsinput.js'></script>
        <script type='text/javascript' src='/js/typeahead.bundle.js'></script>
    </body>
</html>
